<%= render 'partials/ingredients' %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <h2 class="ingredient-quantity">
    <%= f.input :description, collection: [
      '10%',
      '15%',
      '20%',
      '25%',
      '30%',
      '33%',
      '40%',
      '50%',
      '60%',
      '70%',
      '80%',
      '90%'
      ], as: :radio_buttons, label: false %>
  </h2>
  <h2 class="ingredient-color">
    <%= f.association :ingredient, as: :radio_buttons, label: false %>
  </h2>
  <h2 class="confirm-button">
    <input type="submit" name="commit" value="save" data-disable-with="save">
  </h2>
<% end %>

<h2><%= link_to :cancel, cocktail_path(@cocktail) %></h2>
