<h1>
  <span>Mix <%= @cocktail.name %></span>
  <span><%= link_to :back, cocktail_path(@cocktail) %></span>
</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <h2>
    <%= f.association :ingredient, as: :radio_buttons, label: false %>
  </h2>
  <h2 class="quantity">
    <%= f.input :description, collection: [
      '30ml',
      '45ml',
      '60ml'
      ], as: :radio_buttons, label: false %>
  </h2>
  <h2 class="confirm-button">
    <input type="submit" name="commit" value="add" data-disable-with="add">
  </h2>
<% end %>
