<h1>
  <span>Mix <%= @cocktail.name %></span>
  <span><%= link_to :back, cocktail_path(@cocktail) %></span>
</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.label :ingredient, 'Pick an ingredient' %>
  <%= f.association :ingredient, label: false %>
  <%= f.label :description, 'Quantity' %>
  <%= f.input :description, label: false, collection: [
    '1/2 Part',
    '1 Part',
    '1 1/2 Part',
    '2 Part',
    '2 1/2 Part'
    ] %>
  <%= f.button :submit %>
<% end %>
